# Step 6: Generate Feature Vector

In [1]:
%pylab inline
import pandas as pd
import contributions
import votes
import bills
import sqlCommands
from peoplefinder import PeopleFinder
from operator import attrgetter
from sqlalchemy import create_engine
from sqlalchemy_utils import database_exists, create_database
import psycopg2
from tqdm import tqdm

def subject_match(engine,A):
    query = ("SELECT bill_type,bill_number,status,result FROM allbills4 WHERE (subjects LIKE '%%{" + A
                     + ",%%' OR subjects LIKE '%%,"+A+",%%' OR subjects LIKE '%%,"+A+"}%%');")
    #use query and put in DataFrame
    foo = pd.read_sql_query(query,engine)
    return foo

def get_subject_features(engine):
    query = "SELECT * FROM subs_morebills_hair"
    foo = pd.read_sql_query(query, engine)
    return foo

def clean_subject(a):
    try:
        quoteloc = a.index("'") #may get issues with multiple single quotes in one topic.
        a = a[:quoteloc]+"'"+a[quoteloc:]
    except:
        pass #no quotes found
    #need to add " if there are any spaces in the subject
    try:
        quoteloc = a.index(" ") #will go to except if there are no spaces in the subject
        a = '\"'+a+'\"'
    except:
        pass #no spaces found
    return a

def remove_paren(a):
    try:
        parenloc = a.index("(")
        a = a[:parenloc]+a[parenloc+1:]
    except:
        pass
    try:
        parenloc = a.index(")")
        a = a[:parenloc]+a[parenloc+1:]
    except:
        pass
    return a

Populating the interactive namespace from numpy and matplotlib

In [2]:
#set up postgresql engine
dbname = 'legislatr'
engine = sqlCommands.get_engine(dbname)
conn = psycopg2.connect("dbname='legislatr' user='lordluen' host='localhost'")
cur = conn.cursor()

In [3]:
#load in subject features
sub_feat_temp = get_subject_features(engine)
sub_feat = pd.DataFrame()
sub_feat['subjects'] = sub_feat_temp.subjects
sub_feat['q_subjects'] = sub_feat['subjects'].map( lambda x: clean_subject(x)) #subjects for querying.
sub_feat['df_subjects'] = sub_feat['subjects'].map( lambda x:remove_paren(x))

In [4]:
print(sub_feat.subjects.size)
sub_feat.head(3)

406

,subjects,q_subjects,df_subjects
0,Access Board,"""Access Board""",Access Board
1,Administrative Conference of the U.S.,"""Administrative Conference of the U.S.""",Administrative Conference of the U.S.
2,Administrative law and regulatory procedures,"""Administrative law and regulatory procedures""",Administrative law and regulatory procedures

In [5]:
#create a dataframe will bill in first column, pass or fail in second column (will need to clean), and features in reamaining columns
#first get a list of bills.
bills_subjects = pd.read_sql("SELECT subjects FROM allbills4;",engine)
bills_features_subs = pd.read_sql("SELECT bill_type,num_amends,congress,bill_number,status,result,final_result FROM allbills4;",engine)
print(bills_features_subs['bill_type'].size)
bills_features_subs.head(3)

38340

  bill_type  num_amends  congress bill_number    status  result  final_result
0         s           0       113        1870  REPORTED       2             0
1         s           0       113         125  REFERRED       2             0
2         s           0       113        1027  REFERRED       2             0

In [6]:
bills_subjects.head(3)

                                            subjects
0  {"Administrative law and regulatory procedures...
1  {"Aquatic ecology","Congressional oversight",F...
2  {"Congressional oversight","Department of Heal...

In [9]:
#query type and number for bills that match each subject, map into df.
#loop over subjects.
for i in tqdm(range(0,sub_feat['subjects'].size)):
    qsub = sub_feat['subjects'].iloc[i] #pull out subject to search for
    csub = sub_feat['df_subjects'].iloc[i] #subject to be column name
    boolcount = bills_subjects.subjects.str.contains(qsub, na=False)
    bills_features_subs[csub] = boolcount.map({False:0,True:1}).astype(int) #subjects for querying.

 11%|█         | 44/406 [00:01<00:10, 34.57it/s]/home/lordluen/anaconda2/envs/py3_env/lib/python3.5/site-packages/ipykernel/__main__.py:10: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
100%|██████████| 406/406 [00:11<00:00, 34.25it/s]

In [15]:
#read in sponsors
spon_feat = pd.read_sql_table('sponsor_list',engine)
spon_feat

     index                        sponsor
0        0     Rep,"Abercrombie, Neil",HI
1        1    Rep,"Abraham, Ralph Lee",LA
2        2     Rep,"Ackerman, Gary L.",NY
3        3        Rep,"Adams, Alma S.",NC
4        4          Rep,"Adams, Sandy",FL
5        5   Rep,"Aderholt, Robert B.",AL
6        6        Rep,"Adler, John H.",NJ
7        7         Rep,"Aguilar, Pete",CA
8        8         Rep,"Akin, W. Todd",MO
9        9     Rep,"Alexander, Rodney",LA
10      10        Rep,"Allen, Rick W.",GA
11      11        Rep,"Altmire, Jason",PA
12      12         Rep,"Amash, Justin",MI
13      13       Rep,"Amodei, Mark E.",NV
14      14    Rep,"Andrews, Robert E.",NJ
15      15    Rep,"Arcuri, Michael A.",NY
16      16         Rep,"Ashford, Brad",NE
17      17        Rep,"Austria, Steve",OH
18      18          Rep,"Babin, Brian",TX
19      19             Rep,"Baca, Joe",CA
20      20     Rep,"Bachmann, Michele",MN
21      21       Rep,"Bachus, Spencer",AL
22      22          Rep,"Baird, Brian",WA
23      23        Rep,"Baldwin, Tammy",WI
24      24           Rep,"Barber, Ron",AZ
25      25         Rep,"Barletta, Lou",PA
26      26            Rep,"Barr, Andy",KY
27      27   Rep,"Barrett, J. Gresham",SC
28      28          Rep,"Barrow, John",GA
29      29   Rep,"Bartlett, Roscoe G.",MD
..     ...                            ...
839    839          Sen,"Salazar, Ken",CO
840    840      Sen,"Sanders, Bernard",VT
841    841           Sen,"Sasse, Ben ",NE
842    842            Sen,"Sasse, Ben",NE
843    843         Sen,"Schatz, Brian",HI
844    844   Sen,"Schumer, Charles E.",NY
845    845            Sen,"Scott, Tim",SC
846    846        Sen,"Sessions, Jeff",AL
847    847       Sen,"Shaheen, Jeanne",NH
848    848    Sen,"Shelby, Richard C.",AL
849    849     Sen,"Snowe, Olympia J.",ME
850    850        Sen,"Specter, Arlen",PA
851    851      Sen,"Stabenow, Debbie",MI
852    852        Sen,"Sullivan, Dan ",AK
853    853         Sen,"Sullivan, Dan",AK
854    854           Sen,"Tester, Jon",MT
855    855           Sen,"Thune, John",SD
856    856          Sen,"Tillis, Thom",NC
857    857           Sen,"Toomey, Pat",PA
858    858           Sen,"Udall, Mark",CO
859    859            Sen,"Udall, Tom",NM
860    860         Sen,"Vitter, David",LA
861    861  Sen,"Voinovich, George V.",OH
862    862        Sen,"Walsh, John E.",MT
863    863       Sen,"Warner, Mark R.",VA
864    864     Sen,"Warren, Elizabeth",MA
865    865             Sen,"Webb, Jim",VA
866    866   Sen,"Whitehouse, Sheldon",RI
867    867      Sen,"Wicker, Roger F.",MS
868    868            Sen,"Wyden, Ron",OR

[869 rows x 2 columns]

In [16]:
bills_sponsors = pd.read_sql("SELECT sponsor,cosponsors FROM allbills4;",engine)
bills_sponsors['allspons'] = np.asarray(bills_sponsors['sponsor'])+np.asarray(bills_sponsors['cosponsors'])
bills_features_legis = pd.read_sql("SELECT bill_type,num_amends,congress,bill_number,status,result,final_result FROM allbills4;",engine)
bills_sponsors.head(3)

,sponsor,cosponsors,allspons
0,"{Sen,""Baucus, Max"",MT}",{},"{Sen,""Baucus, Max"",MT}{}"
1,"{Sen,""Brown, Sherrod"",OH}","{{Sen,""Casey, Robert P., Jr."",PA},{Sen,""Franke...","{Sen,""Brown, Sherrod"",OH}{{Sen,""Casey, Robert ..."
2,"{Sen,""Kirk, Mark Steven"",IL}","{{Sen,""Hatch, Orrin G."",UT},{Sen,""Johnson, Tim...","{Sen,""Kirk, Mark Steven"",IL}{{Sen,""Hatch, Orri..."

In [18]:
#query type and number for bills that match each subject, map into df.
#loop over subjects.
for i in tqdm(range(0,spon_feat['sponsor'].size)):
#get subject.
    qsub = spon_feat['sponsor'].iloc[i] #pull out subject to search for
    csub = qsub #subject to be column name
    boolcount = bills_sponsors.allspons.str.contains(qsub, na=False)
    bills_features_legis[csub] = boolcount.map({False:0,True:1}).astype(int) #subjects for querying.

100%|██████████| 869/869 [00:31<00:00, 27.30it/s]

In [20]:
#get committee list.
comm_feat = pd.read_sql_table('committee_list',engine)
#sub_feat['subjects'] = sub_feat_temp.subjects
#sub_feat['q_subjects'] = sub_feat['subjects'].map( lambda x: clean_subject(x)) #subjects for querying.
#sub_feat['df_subjects'] = sub_feat['subjects'].map( lambda x:remove_paren(x))
comm_feat

    index committee
0       0      HLIG
1       1      HSAG
2       2      HSAP
3       3      HSAS
4       4      HSBA
5       5      HSBU
6       6      HSED
7       7      HSFA
8       8      HSGO
9       9      HSHA
10     10      HSHM
11     11      HSIF
12     12      HSII
13     13      HSJU
14     14      HSPW
15     15      HSRU
16     16      HSSM
17     17      HSSO
18     18      HSSY
19     19      HSVR
20     20      HSWM
21     21      JCSE
22     22      SCNC
23     23      SLIA
24     24      SLIN
25     25      SSAF
26     26      SSAP
27     27      SSAS
28     28      SSBK
29     29      SSBU
30     30      SSCM
31     31      SSEG
32     32      SSEV
33     33      SSFI
34     34      SSFR
35     35      SSGA
36     36      SSHR
37     37      SSJU
38     38      SSRA
39     39      SSSB
40     40      SSVA

In [21]:
bills_comms = pd.read_sql("SELECT committees FROM allbills4;",engine)
#bills_sponsors['allspons'] = np.asarray(bills_sponsors['sponsor'])+np.asarray(bills_sponsors['cosponsors'])
#bills_features = pd.read_sql("SELECT bill_type,bill_number,status,result FROM allbills;",engine)
bills_features_comms = pd.read_sql("SELECT bill_type,num_amends,congress,bill_number,status,result,final_result FROM allbills4;",engine)
#print(bills_features['bill_type'].size)
#bills_features.head(3)
bills_comms.head(3)

  committees
0     {SSFI}
1     {SSEV}
2     {SSHR}

In [22]:
#query type and number for bills that match each subject, map into df.
#loop over subjects.
for i in tqdm(range(0,comm_feat['committee'].size)):
#get subject.
#qsub = sub_feat['q_subjects'].iloc[i] #pull out subject to search for
#currently using a postgresql query to get bill info, might be faster to search the dataframe I already have loaded.
#matches = subject_matches(engine,qsub) #get bill identifiers that have those subjects
    qsub = comm_feat['committee'].iloc[i] #pull out subject to search for
    csub = qsub #subject to be column name
    boolcount = bills_comms.committees.str.contains(qsub, na=False)
    bills_features_comms[csub] = boolcount.map({False:0,True:1}).astype(int) #subjects for querying.

100%|██████████| 41/41 [00:00<00:00, 49.29it/s]

In [23]:
bills_features_subs.describe()

,num_amends,congress,result,final_result,Access Board,Administrative Conference of the U.S.,Administrative law and regulatory procedures,Afghanistan,Africa,Agricultural conservation and pollution,...,Water use and supply,Watersheds,West Bank,Wetlands,Women's health,Women's rights,World health,Wyoming,Yemen,Zimbabwe
count,38340.000000,38340.000000,38340.000000,38340.000000,38340.000000,38340.000000,38340.000000,38340.000000,38340.000000,38340.000000,...,38340.000000,38340.000000,38340.000000,38340.000000,38340.000000,38340.000000,38340.000000,38340.000000,38340.000000,38340.000000
mean,0.505556,112.392123,1.966927,0.455608,0.000756,0.000600,0.129291,0.006364,0.006442,0.005738,...,0.022144,0.008972,0.001095,0.005216,0.014606,0.003678,0.004799,0.002556,0.001252,0.000626
std,10.512045,1.108746,0.190413,0.821498,0.027493,0.024486,0.335526,0.079522,0.080006,0.075534,...,0.147154,0.094298,0.033080,0.072038,0.119972,0.060533,0.069110,0.050494,0.035361,0.025012
min,0.000000,111.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,111.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,112.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,113.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,621.000000,114.000000,2.000000,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [24]:
bills_features_legis.describe()

,num_amends,congress,result,final_result,"Rep,""Abercrombie, Neil"",HI","Rep,""Abraham, Ralph Lee"",LA","Rep,""Ackerman, Gary L."",NY","Rep,""Adams, Alma S."",NC","Rep,""Adams, Sandy"",FL","Rep,""Aderholt, Robert B."",AL",...,"Sen,""Udall, Tom"",NM","Sen,""Vitter, David"",LA","Sen,""Voinovich, George V."",OH","Sen,""Walsh, John E."",MT","Sen,""Warner, Mark R."",VA","Sen,""Warren, Elizabeth"",MA","Sen,""Webb, Jim"",VA","Sen,""Whitehouse, Sheldon"",RI","Sen,""Wicker, Roger F."",MS","Sen,""Wyden, Ron"",OR"
count,38340.000000,38340.000000,38340.000000,38340.000000,38340.000000,38340.000000,38340.00000,38340.000000,38340.000000,38340.000000,...,38340.00000,38340.000000,38340.000000,38340.000000,38340.000000,38340.000000,38340.000000,38340.000000,38340.000000,38340.000000
mean,0.505556,112.392123,1.966927,0.455608,0.006260,0.005556,0.01252,0.004512,0.003391,0.010850,...,0.01951,0.027856,0.005138,0.003599,0.013276,0.012598,0.004617,0.031612,0.019588,0.026395
std,10.512045,1.108746,0.190413,0.821498,0.078872,0.074329,0.11119,0.067022,0.058132,0.103599,...,0.13831,0.164562,0.071498,0.059887,0.114455,0.111532,0.067789,0.174967,0.138581,0.160310
min,0.000000,111.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,...,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,111.000000,2.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,...,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,112.000000,2.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,...,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,113.000000,2.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,...,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,621.000000,114.000000,2.000000,2.000000,1.000000,1.000000,1.00000,1.000000,1.000000,1.000000,...,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [25]:
bills_features_comms.describe()

,num_amends,congress,result,final_result,HLIG,HSAG,HSAP,HSAS,HSBA,HSBU,...,SSEG,SSEV,SSFI,SSFR,SSGA,SSHR,SSJU,SSRA,SSSB,SSVA
count,38340.000000,38340.000000,38340.000000,38340.000000,38340.000000,38340.000000,38340.000000,38340.000000,38340.000000,38340.000000,...,38340.000000,38340.000000,38340.000000,38340.000000,38340.000000,38340.000000,38340.000000,38340.000000,38340.000000,38340.000000
mean,0.505556,112.392123,1.966927,0.455608,0.004434,0.022300,0.010850,0.033516,0.053182,0.014345,...,0.039411,0.021648,0.106625,0.010694,0.028978,0.046427,0.037924,0.003730,0.005164,0.016458
std,10.512045,1.108746,0.190413,0.821498,0.066441,0.147661,0.103599,0.179982,0.224399,0.118911,...,0.194572,0.145535,0.308640,0.102858,0.167746,0.210410,0.191015,0.060959,0.071678,0.127230
min,0.000000,111.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,111.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,112.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,113.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,621.000000,114.000000,2.000000,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

## Save out features for bills.

In [28]:
sqlCommands.write_to_database(dbname,'features_subs',bills_features_subs,engine)

In [29]:
sqlCommands.write_to_database(dbname,'features_legis',bills_features_legis,engine)

In [30]:
sqlCommands.write_to_database(dbname,'features_comms',bills_features_comms,engine)